{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="wrapper">
        <section class="accueil">
            <img class="logoYoutube" src="{{ asset('img/youtube.png') }}" alt="Logo Youtube">
            <img class="route" src="{{ asset('img/route1.jpg') }}" alt="Photo d'une route"> 
        </section>

        <figure>
            <figcaption>
                <a href="https://youtube.com/@benetvalsurlesroutes?si=tloF4kPLmjdTxkfc"><h1>Ben et Val sur les routes</h1></a>
                <p>@benetvalsurlesroutes</p><br>
                <p>132 abonnés</p>
            </figcaption>
            <img class="benEtVal" src="{{ asset('img/benEtVal.jpg') }}" alt="Benjamin et Valérie">
        </figure>

        <section>
            <h2>Visualiser les vidéos Vlog</h2>
            {% for youtube in youtubes %}
                <p>{{ youtube.url }} - {{ youtube.name }}</p>
            {% endfor %}
        </section>


    </div>
{% endblock %}