{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="wrapper">
        <section class="accueil">
            <img class="logoYoutube" src="{{ asset('img/youtube.png') }}" alt="Logo Youtube">
            <img class="route" src="{{ asset('img/route1.jpg') }}" alt="Photo d'une route"> 
        </section>

        <figure>
            <figcaption>
                <a href="https://youtube.com/@benetvalsurlesroutes?si=tloF4kPLmjdTxkfc"><h1>Ben et Val sur les routes</h1></a>
                <p>@benetvalsurlesroutes</p>
                <p>132 abonnés</p>
            </figcaption>
            <img class="benEtVal" src="{{ asset('img/benEtVal.jpg') }}" alt="Benjamin et Valérie">
        </figure>

        <section>
            <h2>Visualiser les Vlogs</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for youtube in youtubes %}
                    <div class="col">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <a href="{{ path('app_video', {'id': youtube.id }) }}"><img src="{{ youtube.url|youtube_thumbnail }}" class="card-img-top" alt="image miniature de la vidéo"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ youtube.name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>


    </div>
{% endblock %}