{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <div class="formulaire">
        <h2>VLOG</h2>
       
        {{ form_start(form) }}

            {{ form_row(form.url) }}
            {{ form_row(form.name) }}
            <br>
            {{ form_row(form.image) }}
            <br>
            {{ form_row(form.Envoyer) }}
                       
        {{ form_end(form) }}

        <div class="parametres">
            <a href="{{ path ('app_home') }}">
                <img class="Bouton" src="{{ asset('img/house-solid.svg') }}" title="Retour à la page d'accueil" alt="Logo Maison">
            </a>
        </div>
    </div>
{% endblock %}
